body {
    margin: 0;
    display: flex;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    font-size: 14px;
}

p {
    font-size: 14px;
    text-align: center;
}

.container {
    display: flex;
    width: 900px;
}

.left_content, .center_content, .right_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 90px 0 0;
}

.left_icon, .center_icon, .right_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2a69a6;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    background: #2a69a6;
}

.left_icon:hover, .center_icon:hover, .right_icon:hover {
    background: #fff;
}

.center_icon:hover .center_img, .right_img {
    background: #2a69a6;
}
